*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
}

.left-div {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 60px;
}

.left-div img {
    margin-right: 10px;
}

.left-div h1 {
    font-size: larger;
    font-weight: 800;
    color: #006747;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-div {
    display: flex;
    justify-content: space-evenly;
}

.heart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(209, 236, 255, 0.692);
    margin-right: 20px;
    width: 123px;
    height: 52px;
    border-radius: 40px;
    padding: 14px 35.5px;
}

.emergency-hearts:hover {
    cursor: pointer;
}

.heart p {
    margin-right: 15px;
    font-size: larger;
}

.coin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(209, 236, 255, 0.692);
    margin-right: 20px;
    width: 123px;
    height: 52px;
    border-radius: 40px;
    padding: 14px 35px;
}

.coin p {
    margin-right: 15px;
    font-size: larger;
}

.copy {
    display: flex;
    align-items: center;
    margin-right: 61px;
    background-color: #00A63E;
    color: #FFFFFF;
    width: 127px;
    height: 52px;
    border-radius: 40px;
    padding: 14px 36px;
}
.copy:hover{
    background-color: rgba(128, 128, 128, 0.635);
    cursor: pointer;
}
.copy p {
    margin-right: 15px;
}

.copy-btn:hover {
    cursor: pointer;
}

.call-button:hover {
    background-color: rgba(128, 128, 128, 0.635);
    cursor: pointer;
}